[[extend 'memory.html']]
[[block backto]]
            <a href="[[=URL('memory')]]">← Back to Main Memory Page</a>
            [[end]]
[[block content]]
This assignment was an http proxy server with a cache. Requests don't need to be fully processed if the requested data is already wtihin the cache. The cache can be managed using fifo or lru as a command line argument.
I had to use ai to fix a small valgrind error caused by some very complicated program inputs being hard to process
[[end]]
[[block link]]
<!--style="margin-left: 40px;"-->
<div><a href="https://github.com/chouske/Cached-http-proxy-server" target="_blank">Repository</a></div>
[[end]]