[[extend 'graphics.html']]
[[block backto]]
            <a href="[[=URL('graphics')]]">← Back to Main</a>
            [[end]]
[[block content]]
[[block content]]
<div>Assignment 5 was using lightning and other random stuff using a high level graphics library
[[end]]
[[block link]]
<!--style="margin-left: 40px;"-->
<img src="/portfolio/static/media/asgn5.png"></div>
<div><a href="https://chouske.github.io/cse160/asgn5/asgn5.html" target="_blank">Test it</a></div>
<a href="/portfolio/static/zip/asgn5.zip" download>Download zip</a>
[[end]]