[[extend 'graphics.html']]
[[block backto]]
            <a href="[[=URL('graphics')]]">← Back to Main Graphics Page</a>
            [[end]]
[[block content]]
[[block content]]
<div>Assignment 3 was creating a block world</div>
You can move using awsd, q, e, and the mouse
[[end]]
[[block link]]
<!--style="margin-left: 40px;"-->
<div><img src="/portfolio/static/media/asgn3.png"></div>
<div><a href="https://chouske.github.io/cse160/asgn3/world.html" target="_blank">Test it</a></div>
<a href="https://github.com/chouske/cse160/tree/main/asgn3" target="_blank">Repository</a>
[[end]]