[[extend 'graphics.html']]
[[block backto]]
            <a href="[[=URL('graphics')]]">← Back to Main</a>
            [[end]]
[[block content]]
[[block content]]
Assignment 1 involved making a paint application that didn't utilize webgl.

[[end]]
[[block link]]
<!--style="margin-left: 40px;"-->
<div><img src="/portfolio/static/media/asgn1.png"></div>
<div><a href="https://chouske.github.io/cse160/asgn1/ColoredPoints.html" target="_blank">Test it</a></div>
<a href="/portfolio/static/zip/asgn1.zip" download>Download zip</a>
[[end]]