[[extend 'graphics.html']]
[[block backto]]
            <a href="[[=URL('graphics')]]">← Back to Main Graphics Page</a>
            [[end]]
[[block content]]
[[block content]]
Assignment 1 involved making a paint application that didn't utilize webgl

[[end]]
[[block link]]
<!--style="margin-left: 40px;"-->
<div><img src="/portfolio/static/media/asgn1.png"></div>
<div><a href="https://chouske.github.io/cse160/asgn1/ColoredPoints.html" target="_blank">Test it</a></div>
<a href="https://github.com/chouske/cse160/tree/main/asgn1" target="_blank">Repository</a>
[[end]]