[[extend 'graphics.html']]
[[block backto]]
            <a href="[[=URL('graphics')]]">← Back to Main</a>
            [[end]]
[[block content]]
[[block content]]
<div>Assignment 4 was creating lighting in my block world</div>
[[end]]
[[block link]]
<!--style="margin-left: 40px;"-->
<div><img src="/portfolio/static/media/asgn4.png"></div>
<div><a href="https://chouske.github.io/cse160/asgn4/Lighting.html" target="_blank">Test it</a></div>
<a href="/portfolio/static/zip/asgn4.zip" download>Download zip</a>
[[end]]