[[extend 'graphics.html']]
[[block backto]]
            <a href="[[=URL('graphics')]]">← Back to Main Graphics Page</a>
            [[end]]
[[block content]]
[[block content]]
<div>Assignment 4 was creating phong lighting in my block world</div>
[[end]]
[[block link]]
<!--style="margin-left: 40px;"-->
<div><img src="/portfolio/static/media/asgn4.png"></div>
<div><a href="https://chouske.github.io/cse160/asgn4/Lighting.html" target="_blank">Test it</a></div>
<a href="https://github.com/chouske/cse160/tree/main/asgn4" target="_blank">Repository</a>
[[end]]