[[extend 'memory.html']]
[[block backto]]
            <a href="[[=URL('memory')]]">← Back to Main Memory Page</a>
            [[end]]
[[block content]]
This assignment was a multithreaded http server where we had to constantly take in http requests and correctly respond
Multiple requests can be handled at once without issue due to the use of threads     
[[end]]
[[block link]]
<!--style="margin-left: 40px;"-->
<div><a href="https://github.com/chouske/Multithreaded-http-server" target="_blank">Repository</a></div>
[[end]]