[[extend 'unity.html']]
[[block backto]]
            <a href="[[=URL('unity')]]">← Back to Main Unity Page</a>
            [[end]]
[[block content]]

<div>
  I replicated Phase 10, a decently in-depth card game, in Unity. 
  There are 4 players total, with simple AI controlling the 3 players that aren’t you. Scroll down on the link for instructions. It takes a few seconds to load.
</div>
<div><strong><a href="https://chouske.itch.io/phase-10-in-unity-with-ai" target="_blank">▶ Play the Game</a></strong></div>
<div><a href="https://github.com/chouske/Multiplayer-Phase-10-in-Unity" target="_blank">Repository</a></div>
[[end]]
[[block link]]
<!--style="margin-left: 40px;"-->
<div><img src="/portfolio/static/media/unitycardgame.png" style="width: 500px"></div>

A few non-essential features were cut as they provided little value to gameplay and weren't easy to implement. An example of this is the wild card.
[[end]]