[[extend 'unity.html']]
[[block backto]]
            <a href="[[=URL('unity')]]">← Back to Main Unity Page</a>
            [[end]]
[[block content]]
I've been working on trying to make a digital, online version of the card game phase 10 using unity and some knowledge from unity multiplayer tools i a previous class.
Only the absolute basics of the gameplay have been finished so far, though.
<div>Draw a card with the button, click a card to "play it", and then press end turn</div>
[[end]]
[[block link]]
<!--style="margin-left: 40px;"-->
<div><img src="/portfolio/static/media/unitycardgame.png" style="width: 500px"></div>
<div><a href="https://chouske.github.io/Multiplayer-Phase-10-in-Unity/" target="_blank">Test it</a></div>
<div><a href="https://github.com/chouske/Multiplayer-Phase-10-in-Unity" target="_blank">Repository</a></div>
[[end]]